* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 227, 227, 0.082)), to(#aab0b3)), url(batata.jpeg);
  background-image: linear-gradient(rgba(238, 227, 227, 0.082), #aab0b3), url(batata.jpeg);
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
}

body .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5px;
  width: 100%;
}

body .header .nameHerman {
  width: 100%;
  height: 100%;
}

body .header .nameHerman h1 {
  text-align: center;
  font-family: "K2D", sans-serif;
  font-weight: normal;
  font-size: 35px;
}

.navbarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.navbarContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  height: 100%;
}

.navbarContainer ul .navbarItem {
  list-style: none;
  padding: 20px;
  height: 100%;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "K2D", sans-serif;
  font-size: 22px;
  width: 80%;
  text-align: center;
  font-weight: bold;
  height: 100%;
}

.mobileNav {
  display: none;
}

a {
  color: black;
}

a:focus {
  background-color: yellow;
}

a:hover {
  outline: 3px solid grey;
  background-color: black;
  color: white;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .item {
  margin: 20px;
  height: 300px;
  width: 30%;
}

.Two {
  font-family: "K2D", sans-serif;
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.Two .knappMeny, .Two .knappCatering {
  background-color: black;
  padding: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 10px;
  font-family: "K2D", sans-serif;
  text-transform: uppercase;
}

.Two .knappMeny:focus, .Two .knappCatering:focus {
  background-color: yellow;
}

embed {
  width: 100%;
  height: 100%;
}

iframe {
  border: 2px solid black;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

#flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#flex .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  font-size: 20px;
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 580px) {
  body {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(170, 176, 179, 0.288)), color-stop(rgba(212, 194, 194, 0.788)), to(rgba(95, 100, 102, 0.075)));
    background-image: linear-gradient(rgba(170, 176, 179, 0.288), rgba(212, 194, 194, 0.788), rgba(95, 100, 102, 0.075));
  }
  body .header {
    height: 40%;
    border-bottom: 1px solid black;
  }
  body .header .navbarContainer {
    width: 100%;
    height: 100%;
  }
  body .header .navbarContainer ul {
    width: 100%;
    height: 100%;
  }
  .mobileNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 20px;
  }
  .mobileNav a {
    width: 100%;
    text-align: center;
    padding-top: 5px;
  }
  .mobileNav a span {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    text-align: center;
  }
  .navbarItem {
    display: none;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .item {
    margin-top: 0;
    width: 100%;
    height: 50%;
  }
  .One {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .One .Two {
    color: black;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .One .Two .Three {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  #flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    position: relative;
  }
  #flex .footer {
    border-bottom: 1px solid black;
  }
}

@media only screen and (min-width: 581px) and (max-width: 690px) {
  body {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(170, 176, 179, 0.288)), color-stop(rgba(212, 194, 194, 0.788)), to(rgba(95, 100, 102, 0.075)));
    background-image: linear-gradient(rgba(170, 176, 179, 0.288), rgba(212, 194, 194, 0.788), rgba(95, 100, 102, 0.075));
  }
  body header {
    height: 20%;
  }
  .navbarContainer {
    width: 100%;
    height: 100%;
  }
  .navbarContainer ul {
    height: 100%;
    width: 100%;
  }
  .navbarContainer ul .navbarItem {
    width: 100%;
    height: 100%;
    font-size: 22px;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .item {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 80%;
    height: 50%;
    margin: 5px;
  }
  .One {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .One .Two {
    color: black;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .One .Two .Three {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  a:hover {
    outline: 3px solid grey;
    background-color: black;
    color: white;
  }
  #flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
  }
}
/*# sourceMappingURL=style.css.map */